/* @import url("//assets/fonts/AVONE.otf"); */

@font-face {
  font-family: avone;
  src: url("./assets/fonts/AVONE.otf");
}

@font-face {
  font-family: avone stencil;
  src: url("./assets/fonts/AVONE Stencil.otf");
}

@font-face {
    font-family: bebas neue;
    src: url("./assets/fonts/bebas.ttf");
}

body{
    margin: 0px;
    font-family: "bebas neue";
    background-color:rgb(255, 255, 255);
    overflow-x: hidden;
    background: url("./assets/bg1.png");
    background-repeat: no-repeat;
    /* background-size: contain; */
}

#profile{
  /* background: linear-gradient(to bottom, transparent 85%, #000000f8 100%); */
}

html {
    scroll-behavior: smooth;
  }

p {
    color: rgb(0, 0, 0);
    font-family: poppins light;
}

nav,
.nav-links {
  display: flex;
}

nav {
  align-items: center;
  height: 8vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: gray;
  text-decoration: overline;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(0, 0, 0);
}

.logo {
  padding-right: 350px;
  padding-left: 60px;
  font-size: 1.5rem;
}

.logo:hover {
  cursor: default;
}

.section__pic-container{
  display:flex;
  justify-content: flex-end;
    /* position: absolute; */
  transform: translate(20px, -400px);
    z-index: -1;
}

.section__text__p1{
  
  transform: translate(0px, 90px);
  /* padding-top: 250px; */
  /* padding-bottom: 10px; */
  padding-left: 30px;
  /* position: absolute; */
  font-size: 25px;
}

.section__text__p2{
  padding-left: 30px;
  /* padding-top: 30px; */
  /* position: absolute; */
  font-size: 15px;
  transform: translate(0px, -85px);
}

.section__text {
  flex-wrap: wrap;
    /* align-self: center; */
    flex-direction: column;
    align-items: center;
    transform: translate(360px, 120px);
    /* padding-top: 150px; */
    /* padding-left: 350px; */
    /* height: 60px; */
    /* position: absolute; */
    /* text-align: center; */
}

.title{
  font-family: avone;
  font-size: 90px;
  /* height: 500px; */
}

.btn-container{
  padding-top: 418px;
  padding-bottom: 60px;
  padding-left: 750px;
}

#socials-container {
  /* transform: translate(780px, 525px);  */
  /* position: absolute; */
  display: flex;
  /* justify-content: center; */
  /* margin-top: 1rem; */
  gap: 1.5rem;
  height:40px;
  width: 40px;
  /* align-items: center; */
  }

#designContainer{
  padding-top: 100px;
  display: flex;
  /* gap: 1000px; */
  align-items: flex-end;
}

.home{
  /* position: absolute; */
  align-items: flex-end;
  font-size: 21px;
  font-family: Bebas Neue;
  font-weight: 400;
  word-wrap: break-word;
  bottom: 38px;
  left: 50px;
  width: 1920px;
}

.shape1{
  /* position: absolute;
  left: 50px;
  bottom: 100px; */
  /* display: flex; */
  /* align-items: flex-start; */
  width: 193px;  
  height: 100%; 
  transform: rotate(-90deg); 
  transform-origin: 0 0; 
  border: 3px black solid;
}

.shape2{
  /* position: absolute;
  left: 1650px;
  bottom: 60px; */
  width: 193px;  
  height: 100%; 
  
  /* transform: rotate(-90deg);  */
  transform-origin: 0 0; 
  border: 3px black solid;
}

.shit{
  width: 1920px;
  height: 1080px;  
  background: black;
  /* display: flex; */
  /* justify-content: center; */
  display: flex;
  /*  */
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 100px;
  /* align-items: center; */
  /* gap: 25%; */
}

.about-text{
  /* padding-top: 80px; */
  font-family: avone;
  font-size: 150px;
  color: white;
  /* padding-top: 30px; */
  margin: 0px;
  /* flex-grow: 1; */
  /* align-self: center; */
}

.about-p{
  font-size: 18px;
  color: white;
  font-family: poppins;
  font-weight: 20;
  margin: 0px;
  /* flex-grow: 1; */
  /* align-items: ; */
  /* position: relative; */
  /* width: 1920px;
  height: 1080px;  
  background: black; */
}

.education{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  gap: 100px;
  padding-bottom: 200px;
  padding-right: 20px;
}

/* .box{
  width: 377px;
  height: 528px;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 55px;
} */

/* .elem,
.jhs,
.shs,
.college{
  width: 377px;
  height: 528px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 55px;
} */

.upper {
  display: flex;
  gap: 300px;
  /* flex-direction: column; */
  
}

.lower {
  display: flex;
  gap: 300px;
  padding-bottom: 100px;
  /* flex-direction: column; */
}

.education h1{
  font-family: avone;
  color:white;
  font-size:50px;
  /* font-weight: 20; */
  padding-left: 20px;
  font-weight: 20;
  margin: 0px;
}

.education h2 {
  font-family:  poppins;
  color:rgb(255, 255, 255);
  font-size: 21px;
  padding-left: 50px;
  /* padding-top: 20px; */
  font-weight: 20;
  margin: 0px;
}

.school{
  font-family:  poppins;
  color:rgb(255, 255, 255);
  font-size: 22px;
  padding-left: 50px;
  /* padding-top: 20px; */
}

/* .jhs{
  width: 377px;
  height: 528px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 55px;
}

.shs{
  width: 377px;
  height: 528px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 55px;
}

.college{
  width: 377px;
  height: 528px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 55px;
} */

