/* @import url("//assets/fonts/AVONE.otf"); */

@font-face {
  font-family: avone;
  src: url("./assets/fonts/AVONE.otf");
}

@font-face {
    font-family: bebas neue;
    src: url("./assets/fonts/bebas.ttf");
}

body{
    font-family: "bebas neue";
    background-color:rgb(255, 255, 255);
    overflow-x: hidden;
    background-image: url("./assets/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
}

html {
    scroll-behavior: smooth;
  }

p {
    color: rgb(0, 0, 0);
    font-family: poppins light;
}

nav,
.nav-links {
  display: flex;
}

nav {
  align-items: center;
  height: 8vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: gray;
  text-decoration: overline;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(0, 0, 0);
}

.logo {
  padding-right: 350px;
  padding-left: 60px;
  font-size: 1.5rem;
}

.logo:hover {
  cursor: default;
}

.section__pic-container{
  display:flex;
  justify-content: flex-end;
    /* position: absolute; */
  transform: translate(20px, -400px);
    z-index: -1;
}

.section__text__p1{
  
  transform: translate(0px, 90px);
  /* padding-top: 250px; */
  /* padding-bottom: 10px; */
  padding-left: 30px;
  /* position: absolute; */
  font-size: 25px;
}

.section__text__p2{
  padding-left: 30px;
  /* padding-top: 30px; */
  /* position: absolute; */
  font-size: 15px;
  transform: translate(0px, 10px);
}

.section__text {
  flex-wrap: wrap;
    /* align-self: center; */
    flex-direction: column;
    align-items: center;
    transform: translate(360px, 120px);
    /* padding-top: 150px; */
    /* padding-left: 350px; */
    /* height: 60px; */
    /* position: absolute; */
    /* text-align: center; */
}

.title{
  font-family: avone;
  font-size: 90px;
  height: 500px;
}

#socials-container {
  transform: translate(780px, 525px); 
  /* position: absolute; */
  display: flex;
  /* justify-content: center; */
  /* margin-top: 1rem; */
  gap: 1.5rem;
  height:40px;
  width: 40px;
  /* align-items: center; */
  }

#designContainer{
  padding-top: 100px;
  display: flex;
  /* gap: 1000px; */
  align-items: flex-end;
}

.home{
  /* position: absolute; */
  align-items: flex-end;
  font-size: 21px;
  font-family: Bebas Neue;
  font-weight: 400;
  word-wrap: break-word;
  bottom: 38px;
  left: 50px;
  width: 1920px;
}

.shape1{
  /* position: absolute;
  left: 50px;
  bottom: 100px; */
  /* display: flex; */
  /* align-items: flex-start; */
  width: 193px;  
  height: 100%; 
  transform: rotate(-90deg); 
  transform-origin: 0 0; 
  border: 3px black solid;
}

.shape2{
  /* position: absolute;
  left: 1650px;
  bottom: 60px; */
  width: 193px;  
  height: 100%; 
  
  /* transform: rotate(-90deg);  */
  transform-origin: 0 0; 
  border: 3px black solid;
}

#about {
  display: flex;
}

.about-text{
  font-family: avone;
  font-size: 90px;
  /* align-self: center; */
}

.skills-container{
  position: relative;
  /* width: 1920px; 
  height: 1080px;  */
  background: black;
}

.shit{
  height: 500px;
  display: flex;
  align-items: center;
}